In [ ]:
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd

In [3]:
df = pd.read_csv("../Barents Sea.csv", sep=";")

In [4]:
df

,Well,Structural element,Structural element Russian,Lithology,Depth (m),Sample type,Sample Condition,TOC (%),S0 (mg/g TOC),S1 (mg/g TOC),...,Age,Member / Formation,Group,Catagenic level Tmax based,Catagenic level Ro based,Catagenic level final,Organic matter type,TOCo,HIo,Comments
0,7019/1-1,Troms-Finnmark Fault Complex,Разломная зона Тромс-Финнмарк,NaN,2100,original,NaN,1.45,NaN,0.51,...,Not needed,KOLMULE FM,ADVENTDALEN GP,МК2,МК2,МК2,NaN,NaN,NaN,NaN
1,7019/1-1,Troms-Finnmark Fault Complex,Разломная зона Тромс-Финнмарк,NaN,2118,original,NaN,1.52,NaN,0.58,...,Not needed,KOLMULE FM,ADVENTDALEN GP,МК2,NaN,МК2,NaN,NaN,NaN,NaN
2,7019/1-1,Troms-Finnmark Fault Complex,Разломная зона Тромс-Финнмарк,NaN,2136,original,NaN,1.35,NaN,0.60,...,Not needed,KNURR FM,ADVENTDALEN GP,МК2,NaN,МК2,NaN,NaN,NaN,NaN
3,7019/1-1,Troms-Finnmark Fault Complex,Разломная зона Тромс-Финнмарк,NaN,2151,original,NaN,1.56,NaN,0.59,...,Not needed,KNURR FM,ADVENTDALEN GP,МК2,NaN,МК2,NaN,NaN,NaN,NaN
4,7019/1-1,Troms-Finnmark Fault Complex,Разломная зона Тромс-Финнмарк,NaN,2151,ws-dicl.,NaN,1.40,NaN,0.04,...,Not needed,KNURR FM,ADVENTDALEN GP,МК2,NaN,МК2,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14738,Figurniy,Severnaya Zemlya,Арх. Северная Земля,NaN,NaN,NaN,NaN,7.79,NaN,1.82,...,S1,Snezhinskaya,NaN,ПК3,NaN,ПК3,2,8.0237,412,NaN
14739,Figurniy,Severnaya Zemlya,Арх. Северная Земля,NaN,NaN,NaN,NaN,2.95,NaN,0.77,...,S1,Snezhinskaya,NaN,MK1,NaN,MK1,2,3.5990,340,NaN
14740,Figurniy,Severnaya Zemlya,Арх. Северная Земля,NaN,NaN,NaN,NaN,0.16,NaN,0.00,...,S1,Snezhinskaya,NaN,МК2,NaN,МК2,3,0.1760,70,NaN
14741,Figurniy,Severnaya Zemlya,Арх. Северная Земля,NaN,NaN,NaN,NaN,0.13,NaN,0.00,...,O1,Ushakovskaya,NaN,NaN,NaN,Нет значений,NaN,NaN,NaN,NaN
14742,Figurniy,Severnaya Zemlya,Арх. Северная Земля,NaN,NaN,NaN,NaN,0.24,NaN,0.02,...,O1,Ushakovskaya,NaN,МК2,NaN,МК2,3,0.2640,100,NaN

In [5]:
df.columns

Index(['Well', 'Structural element', 'Structural element Russian', 'Lithology',
       'Depth (m)', 'Sample type', 'Sample Condition', 'TOC (%)',
       'S0 (mg/g TOC)', 'S1 (mg/g TOC)', 'S2 (mg/g TOC)', 'S3 (mg/g TOC)',
       'HI', 'OI', 'PP', 'PI', 'S1+S2', 'Tmax', 'Vitrinite Reflectance Ro (%)',
       'Age', 'Member / Formation', 'Group', 'Catagenic level Tmax based',
       'Catagenic level Ro based', 'Catagenic level final',
       'Organic matter type', 'TOCo', 'HIo', 'Comments'],
      dtype='object')

In [6]:
df.columns = df.columns.str.split(pat=r", | \(", expand=False).map(lambda x: x[0])

In [7]:
df[["TOC", "S0"]].describe().to_dict()

{'TOC': {'count': 13759.0,
  'mean': 1.408861835889236,
  'std': 4.5307322105528485,
  'min': 0.0,
  '25%': 0.27,
  '50%': 0.6,
  '75%': 1.1,
  'max': 126.2},
 'S0': {'count': 4667.0,
  'mean': 0.011459181487036637,
  'std': 0.07276188047554281,
  'min': 0.0,
  '25%': 0.0,
  '50%': 0.0,
  '75%': 0.0,
  'max': 1.86}}

In [8]:
relevant_age = df[df["Age"] != "Not needed"]

In [9]:
relevant_age

,Well,Structural element,Structural element Russian,Lithology,Depth,Sample type,Sample Condition,TOC,S0,S1,...,Age,Member / Formation,Group,Catagenic level Tmax based,Catagenic level Ro based,Catagenic level final,Organic matter type,TOCo,HIo,Comments
18,7019/1-1,Troms-Finnmark Fault Complex,Разломная зона Тромс-Финнмарк,NaN,2346,original,NaN,0.42,NaN,0.11,...,J3,HEKKINGEN FM,ADVENTDALEN GP,МК4,NaN,МК2,NaN,NaN,NaN,NaN
19,7019/1-1,Troms-Finnmark Fault Complex,Разломная зона Тромс-Финнмарк,NaN,2355,original,NaN,3.39,NaN,1.68,...,J3,HEKKINGEN FM,ADVENTDALEN GP,МК3,NaN,МК3,3,4.0341,240,NaN
20,7019/1-1,Troms-Finnmark Fault Complex,Разломная зона Тромс-Финнмарк,NaN,2364,original,NaN,3.30,NaN,1.59,...,J3,HEKKINGEN FM,ADVENTDALEN GP,МК3,NaN,МК2,3,3.6300,240,NaN
21,7019/1-1,Troms-Finnmark Fault Complex,Разломная зона Тромс-Финнмарк,NaN,2364,ws-dicl.,NaN,3.01,NaN,0.06,...,J3,HEKKINGEN FM,ADVENTDALEN GP,МК3,NaN,МК2,3,3.3110,240,NaN
22,7019/1-1,Troms-Finnmark Fault Complex,Разломная зона Тромс-Финнмарк,NaN,2373,original,NaN,5.53,NaN,2.55,...,J3,HEKKINGEN FM,ADVENTDALEN GP,МК3,NaN,МК2,3,6.0830,240,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14738,Figurniy,Severnaya Zemlya,Арх. Северная Земля,NaN,NaN,NaN,NaN,7.79,NaN,1.82,...,S1,Snezhinskaya,NaN,ПК3,NaN,ПК3,2,8.0237,412,NaN
14739,Figurniy,Severnaya Zemlya,Арх. Северная Земля,NaN,NaN,NaN,NaN,2.95,NaN,0.77,...,S1,Snezhinskaya,NaN,MK1,NaN,MK1,2,3.5990,340,NaN
14740,Figurniy,Severnaya Zemlya,Арх. Северная Земля,NaN,NaN,NaN,NaN,0.16,NaN,0.00,...,S1,Snezhinskaya,NaN,МК2,NaN,МК2,3,0.1760,70,NaN
14741,Figurniy,Severnaya Zemlya,Арх. Северная Земля,NaN,NaN,NaN,NaN,0.13,NaN,0.00,...,O1,Ushakovskaya,NaN,NaN,NaN,Нет значений,NaN,NaN,NaN,NaN
14742,Figurniy,Severnaya Zemlya,Арх. Северная Земля,NaN,NaN,NaN,NaN,0.24,NaN,0.02,...,O1,Ushakovskaya,NaN,МК2,NaN,МК2,3,0.2640,100,NaN

In [10]:
relevant_age.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9810 entries, 18 to 14742
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Well                        9808 non-null   object
 1   Structural element          9786 non-null   object
 2   Structural element Russian  9786 non-null   object
 3   Lithology                   3590 non-null   object
 4   Depth                       9615 non-null   object
 5   Sample type                 7033 non-null   object
 6   Sample Condition            140 non-null    object
 7   TOC                         9002 non-null   float64
 8   S0                          3269 non-null   float64
 9   S1                          9466 non-null   float64
 10  S2                          9482 non-null   float64
 11  S3                          1835 non-null   float64
 12  HI                          9200 non-null   float64
 13  OI                          1883 non-null   float64
 14  PP                          9541 non-null   float64
 15  PI                          9628 non-null   object
 16  S1+S2                       9810 non-null   float64
 17  Tmax                        7805 non-null   float64
 18  Vitrinite Reflectance Ro    957 non-null    float64
 19  Age                         9431 non-null   object
 20  Member / Formation          8338 non-null   object
 21  Group                       8277 non-null   object
 22  Catagenic level Tmax based  7089 non-null   object
 23  Catagenic level Ro based    957 non-null    object
 24  Catagenic level final       9810 non-null   object
 25  Organic matter type         4165 non-null   object
 26  TOCo                        3763 non-null   float64
 27  HIo                         4679 non-null   object
 28  Comments                    1835 non-null   object
dtypes: float64(12), object(17)
memory usage: 2.2+ MB

In [11]:
# relevant_age["Age_combined"] = relevant_age["Age"].str.extract(r"([A-Z]+[a-z]?[0-9]*-?[A-Z]*[0-9]*)")

In [12]:
relevant_age["Age"].replace("", np.nan).dropna()

18       J3
19       J3
20       J3
21       J3
22       J3
         ..
14738    S1
14739    S1
14740    S1
14741    O1
14742    O1
Name: Age, Length: 9431, dtype: object

In [13]:
relevant_age["Age"].unique()

array(['J3', 'T3', 'T2', 'P1-P2', 'P2', nan, 'C1v', 'J3-K1', 'T3-J1',
       'T1ol', 'T1in', 'P1', 'T1i', 'T1i ', 'P2uf', 'T1o1', 'C2b-m',
       'T2l2-T3n', 'T2a-l1', 'K1v', 'J3v2', 'J3v1', 'J3km', 'J3km-v',
       'J2cl1', 'J2a-J3o', 'J2b', 'J2bj', 'J1t', 'J1', 'T3n', 'T3c',
       'T2l-T3c', 'T2l ', 'T2l', 'D1bs', 'D2chech', 'S2', 'S1-2', 'O1',
       'Cm3-O', 'P2t', 'P1k', 'P1ar', 'P1s-ar', 'P1s', 'P1as-s', 'C3g',
       'C3', 'C2', 'P2kz-t', 'P1a-s', 'C2m ', 'C1s1', 'C1v2', 'D3fm2',
       'D3fm1', 'D3f3', 'K1v2-g', 'K1h', 'J3v', 'J2a', 'T3+J1', 'T3c-n',
       'T2l2', 'T2l1', 'T2a', 'T2an', 'T1o2', 'T1o', 'T1i-o', 'J2-J3',
       'J3o-km', 'J3v-K1b1', 'J3km2', 'K1b1', 'C1mk', 'S2nk2', 'T1i-o1',
       'D3', 'D3f1', 'D1l', 'S2p', 'D2', 'D1', 'T3k', 'T1', 'J2', 'J2а',
       'T2l3', 'K1nc', 'J2cl', 'J3v2-K1b1', 'J3o3', 'J3o1', 'D3f-fm',
       'D3fl', 'C2+3', 'D3f3-sm', 'D3sm', 'D3sr', 'S2ld', 'K1al2',
       'K1al1', 'J2bt', 'J2cl2', 'J3o', 'K1a', 'K1a1', 'K1br', 'K1br2',
       'J2bt-cl', 'T3nm', 'K1al', 'K1h-br', 'J1g', 'K1v2', 'P1ek',
       'D3f3+fm', 'D3fm2-3', 'D3f2', 'S1v', 'S1l', 'C1', 'Pg', 'K1',
       'T2-T3', 'C3-P1 1', 'P1-C3', 'C1s', 'D3kp', 'K2cen', 'K1h-ap',
       'C1lg', 'C2kp', 'C2-P1', 'D1vg', 'D1er', 'D3vr', 'D1rt', 'S2us',
       'J2a-bj', 'K1g', 'K1b', 'J1s-p', 'T3r', 'К1v1', 'K2', 'K1a-al',
       'J1-2', 'C2-3sn', 'J2cl-J3', 'J1p', 'T3c1', 'D3fr2', 'D3fr3',
       'O3-S1', 'C3-P1', 'D2br ', 'S1', 'O2'], dtype=object)

In [14]:
age = relevant_age["Age"].dropna().unique()
age

array(['J3', 'T3', 'T2', 'P1-P2', 'P2', 'C1v', 'J3-K1', 'T3-J1', 'T1ol',
       'T1in', 'P1', 'T1i', 'T1i ', 'P2uf', 'T1o1', 'C2b-m', 'T2l2-T3n',
       'T2a-l1', 'K1v', 'J3v2', 'J3v1', 'J3km', 'J3km-v', 'J2cl1',
       'J2a-J3o', 'J2b', 'J2bj', 'J1t', 'J1', 'T3n', 'T3c', 'T2l-T3c',
       'T2l ', 'T2l', 'D1bs', 'D2chech', 'S2', 'S1-2', 'O1', 'Cm3-O',
       'P2t', 'P1k', 'P1ar', 'P1s-ar', 'P1s', 'P1as-s', 'C3g', 'C3', 'C2',
       'P2kz-t', 'P1a-s', 'C2m ', 'C1s1', 'C1v2', 'D3fm2', 'D3fm1',
       'D3f3', 'K1v2-g', 'K1h', 'J3v', 'J2a', 'T3+J1', 'T3c-n', 'T2l2',
       'T2l1', 'T2a', 'T2an', 'T1o2', 'T1o', 'T1i-o', 'J2-J3', 'J3o-km',
       'J3v-K1b1', 'J3km2', 'K1b1', 'C1mk', 'S2nk2', 'T1i-o1', 'D3',
       'D3f1', 'D1l', 'S2p', 'D2', 'D1', 'T3k', 'T1', 'J2', 'J2а', 'T2l3',
       'K1nc', 'J2cl', 'J3v2-K1b1', 'J3o3', 'J3o1', 'D3f-fm', 'D3fl',
       'C2+3', 'D3f3-sm', 'D3sm', 'D3sr', 'S2ld', 'K1al2', 'K1al1',
       'J2bt', 'J2cl2', 'J3o', 'K1a', 'K1a1', 'K1br', 'K1br2', 'J2bt-cl',
       'T3nm', 'K1al', 'K1h-br', 'J1g', 'K1v2', 'P1ek', 'D3f3+fm',
       'D3fm2-3', 'D3f2', 'S1v', 'S1l', 'C1', 'Pg', 'K1', 'T2-T3',
       'C3-P1 1', 'P1-C3', 'C1s', 'D3kp', 'K2cen', 'K1h-ap', 'C1lg',
       'C2kp', 'C2-P1', 'D1vg', 'D1er', 'D3vr', 'D1rt', 'S2us', 'J2a-bj',
       'K1g', 'K1b', 'J1s-p', 'T3r', 'К1v1', 'K2', 'K1a-al', 'J1-2',
       'C2-3sn', 'J2cl-J3', 'J1p', 'T3c1', 'D3fr2', 'D3fr3', 'O3-S1',
       'C3-P1', 'D2br ', 'S1', 'O2'], dtype=object)

In [15]:
relevant_age["Age"].dropna()

18       J3
19       J3
20       J3
21       J3
22       J3
         ..
14738    S1
14739    S1
14740    S1
14741    O1
14742    O1
Name: Age, Length: 9431, dtype: object

In [16]:
relevant_age["Structural element Russian"].unique()

array(['Разломная зона Тромс-Финнмарк', 'Разломная зона Рингвассой-Лоппа',
       'Поднятие Лоппа', 'Прогиб Хаммерфест', 'Разломная зона Нислеппен',
       'Платформа Бъярмелэнд', 'Разломная зона Мосэй',
       'Платформа Финнмарк', 'Свод Самсон', 'Поднятие Норсель',
       'Прогиб Нордкапп', 'Прогиб Фингердъюпет', 'Адмиралтейский вал',
       'Малоземельско-Колгуевская моноклиналь',
       'Южно-Баренцевская впадина', 'Арх. Новая Земля',
       'Большеземельский свод', 'Колвинский вал',
       'Ферсмановское поднятие', 'Арх. Земля Франца-Иосифа',
       'Печора-Колвинский авлакоген', 'Южно-Баренцевская зона ступеней',
       'Штокмановская седловина', 'Варандей-Адьзвинская структурная зона',
       'Южно-Карская синеклиза', 'Демидовско-Лудловский вал',
       'Северо-Баренцевская впадина', 'Арх. Шпицберген', nan,
       'Арх. Северная Земля'], dtype=object)

In [17]:
for test in relevant_age["Structural element Russian"].unique():
    print(test, relevant_age.loc[relevant_age["Structural element Russian"] == test, "Structural element Russian"].count())

Разломная зона Тромс-Финнмарк 228
Разломная зона Рингвассой-Лоппа 25
Поднятие Лоппа 1770
Прогиб Хаммерфест 925
Разломная зона Нислеппен 102
Платформа Бъярмелэнд 600
Разломная зона Мосэй 118
Платформа Финнмарк 1188
Свод Самсон 766
Поднятие Норсель 1125
Прогиб Нордкапп 244
Прогиб Фингердъюпет 1191
Адмиралтейский вал 216
Малоземельско-Колгуевская моноклиналь 11
Южно-Баренцевская впадина 78
Арх. Новая Земля 42
Большеземельский свод 223
Колвинский вал 9
Ферсмановское поднятие 54
Арх. Земля Франца-Иосифа 33
Печора-Колвинский авлакоген 16
Южно-Баренцевская зона ступеней 112
Штокмановская седловина 169
Варандей-Адьзвинская структурная зона 393
Южно-Карская синеклиза 8
Демидовско-Лудловский вал 52
Северо-Баренцевская впадина 9
Арх. Шпицберген 15
nan 0
Арх. Северная Земля 64

In [18]:
calculate = relevant_age.loc[relevant_age["Age"].str.match(r".*J3.*", na=False), ["Age", "Structural element Russian"]]

In [19]:
nw = [
    "Разломная зона Тромс-Финнмарк",
    "Разломная зона Рингвассой-Лоппа",
    "Поднятие Лоппа",
    "Прогиб Хаммерфест",
    "Разломная зона Нислеппен",
    "Платформа Бъярмелэнд",
    "Разломная зона Мосэй",
    "Платформа Финнмарк",
    "Свод Самсон",
    "Поднятие Норсель",
    "Прогиб Нордкапп",
    "Прогиб Фингердъюпет",
    "Арх. Шпицберген",
]
i = 0
for test in nw:
    i += calculate.loc[
        calculate["Structural element Russian"] == test, "Structural element Russian"
    ].count()
print(i)

604

In [20]:
rs = [
    "Адмиралтейский вал",
    "Малоземельско-Колгуевская моноклиналь",
    "Южно-Баренцевская впадина",
    "Арх. Новая Земля",
    "Большеземельский свод",
    "Колвинский вал",
    "Ферсмановское поднятие",
    "Арх. Земля Франца-Иосифа",
    "Печора-Колвинский авлакоген",
    "Южно-Баренцевская зона ступеней",
    "Штокмановская седловина",
    "Варандей-Адьзвинская структурная зона",
    "Южно-Карская синеклиза",
    "Демидовско-Лудловский вал",
    "Северо-Баренцевская впадина",
    "Арх. Северная Земля",
]
i = 0
for test in rs:
    i += calculate.loc[
        calculate["Structural element Russian"] == test, "Structural element Russian"
    ].count()
print(i)

66

In [14]:
relevant_age["Age"].dropna().str.findall(r"([A-Z]+[a-z]?[0-9]*)[a-z]*([-+])?([A-Z]+[0-9]*)?").explode().str.join("").unique()

array(['J3', 'T3', 'T2', 'P1-P2', 'P2', 'C1', 'J3-K1', 'T3-J1', 'T1',
       'P1', 'C2-', 'T2-', 'K1', 'J3-', 'J2', 'J2-J3', 'J1', 'T2-T3',
       'D1', 'D2', 'S2', 'S1-', 'O1', 'Cm3-O', 'P1-', 'C3', 'C2', 'P2-',
       'D3', 'T3+J1', 'T3-', 'T1-', 'D3-', 'C2+', 'J2-', 'K1-', 'S1',
       'Pg', 'C3-P1', 'P1-C3', 'K2', 'C2-P1', 'J1-', nan, 'O3-S1', 'O2'],
      dtype=object)

In [15]:
relevant_age["Age_combined"].unique()

array(['J3', 'T3', 'T2', 'P1-P2', 'P2', nan, 'C1', 'J3-K1', 'T3-J1', 'T1',
       'P1', 'C2', 'K1', 'J2', 'J1', 'D1', 'D2', 'S2', 'S1-2', 'O1',
       'Cm3-O', 'C3', 'D3', 'J2-J3', 'S1', 'Pg', 'T2-T3', 'C3-P1',
       'P1-C3', 'K2', 'C2-P1', 'J1-2', 'C2-3', 'O3-S1', 'O2'],
      dtype=object)

In [118]:
relevant_age[["Age", "Age_combined"]].groupby("Age_combined").agg(set).to_dict()

{'Age': {'C1': {'C1', 'C1lg', 'C1mk', 'C1s', 'C1s1', 'C1v', 'C1v2'},
  'C2': {'C2', 'C2kp', 'C2m '},
  'C2+3': {'C2+3'},
  'C2-': {'C2b-m'},
  'C2-3': {'C2-3sn'},
  'C2-P1': {'C2-P1'},
  'C3': {'C3', 'C3g'},
  'C3-P1': {'C3-P1', 'C3-P1 1'},
  'Cm3-O': {'Cm3-O'},
  'D1': {'D1', 'D1bs', 'D1er', 'D1l', 'D1rt', 'D1vg'},
  'D2': {'D2', 'D2br ', 'D2chech'},
  'D3': {'D3',
   'D3f1',
   'D3f2',
   'D3f3',
   'D3fl',
   'D3fm1',
   'D3fm2',
   'D3fr2',
   'D3fr3',
   'D3kp',
   'D3sm',
   'D3sr',
   'D3vr'},
  'D3+': {'D3f3+fm'},
  'D3-': {'D3f-fm', 'D3f3-sm'},
  'D3-3': {'D3fm2-3'},
  'J1': {'J1', 'J1g', 'J1p', 'J1t'},
  'J1-': {'J1s-p'},
  'J1-2': {'J1-2'},
  'J2': {'J2', 'J2a', 'J2b', 'J2bj', 'J2bt', 'J2cl', 'J2cl1', 'J2cl2', 'J2а'},
  'J2-': {'J2a-bj', 'J2bt-cl'},
  'J2-J3': {'J2-J3', 'J2a-J3o', 'J2cl-J3'},
  'J3': {'J3', 'J3km', 'J3km2', 'J3o', 'J3o1', 'J3o3', 'J3v', 'J3v1', 'J3v2'},
  'J3-': {'J3km-v', 'J3o-km'},
  'J3-K1': {'J3-K1', 'J3v-K1b1', 'J3v2-K1b1'},
  'K1': {'K1',
   'K1a',
   'K1a1',
   'K1al',
   'K1al1',
   'K1al2',
   'K1b',
   'K1b1',
   'K1br',
   'K1br2',
   'K1g',
   'K1h',
   'K1nc',
   'K1v',
   'K1v2'},
  'K1-': {'K1a-al', 'K1h-ap', 'K1h-br', 'K1v2-g'},
  'K2': {'K2', 'K2cen'},
  'O1': {'O1'},
  'O2': {'O2'},
  'O3-S1': {'O3-S1'},
  'P1': {'P1', 'P1ar', 'P1ek', 'P1k', 'P1s'},
  'P1-': {'P1a-s', 'P1as-s', 'P1s-ar'},
  'P1-C3': {'P1-C3'},
  'P1-P2': {'P1-P2'},
  'P2': {'P2', 'P2t', 'P2uf'},
  'P2-': {'P2kz-t'},
  'Pg': {'Pg'},
  'S1': {'S1', 'S1l', 'S1v'},
  'S1-2': {'S1-2'},
  'S2': {'S2', 'S2ld', 'S2nk2', 'S2p', 'S2us'},
  'T1': {'T1', 'T1i', 'T1i ', 'T1in', 'T1o', 'T1o1', 'T1o2', 'T1ol'},
  'T1-': {'T1i-o', 'T1i-o1'},
  'T2': {'T2', 'T2a', 'T2an', 'T2l', 'T2l ', 'T2l1', 'T2l2', 'T2l3'},
  'T2-': {'T2a-l1'},
  'T2-T3': {'T2-T3', 'T2l-T3c', 'T2l2-T3n'},
  'T3': {'T3', 'T3c', 'T3c1', 'T3k', 'T3n', 'T3nm', 'T3r'},
  'T3+J1': {'T3+J1'},
  'T3-': {'T3c-n'},
  'T3-J1': {'T3-J1'}}}

In [10]:
relevant_age.groupby("Age").count()

,Well,Structural element,Structural element Russian,Lithology,Depth (m),Sample type,Sample Condition,TOC (%),S0 (mg/g TOC),S1 (mg/g TOC),...,Vitrinite Reflectance Ro (%),Member / Formation,Group,Catagenic level Tmax based,Catagenic level Ro based,Catagenic level final,Organic matter type,TOCo,HIo,Comments
Age,,,,,,,,,,,,,,,,,,,,,
C1,24,24,24,24,24,24,0,24,0,24,...,0,0,0,10,0,24,24,10,24,24
C1lg,4,4,4,4,0,4,0,4,0,4,...,0,0,0,0,0,4,0,0,4,4
C1mk,6,6,6,6,0,6,0,6,0,6,...,0,0,0,0,0,6,0,0,6,6
C1s,21,21,21,21,21,21,0,7,0,21,...,0,0,0,11,0,21,21,10,21,21
C1s1,1,1,1,1,1,1,0,1,0,1,...,1,0,0,1,1,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
T3k,4,4,4,2,4,4,0,4,0,4,...,0,0,0,4,0,4,4,4,4,4
T3n,40,40,40,39,31,38,0,40,0,40,...,3,0,0,37,3,40,40,37,40,38
T3nm,1,1,1,1,1,1,0,1,0,1,...,0,0,0,1,0,1,1,1,1,1
T3r,3,3,3,3,3,3,0,3,0,3,...,0,0,0,3,0,3,3,3,3,3
К1v1,1,1,1,1,1,1,0,1,0,1,...,0,0,0,1,0,1,0,0,0,1

Неручев, сохранение в виде словаря

In [37]:
df = pd.read_clipboard()

In [38]:
df

       Ro  Tmax Градация катагенеза  Тип 1  Тип 2  Тип 3
0    0.25   401                 ПК1   1.03   1.03   1.08
1    0.30   405                 ПК2   1.03   1.03   1.08
2    0.40   412                 ПК3   1.03   1.03   1.08
3    0.50   430                 MK1   1.22   1.22   1.09
4    0.65   438                 МК2   1.43   1.43   1.10
5    0.85   448                 МК3   2.32   2.32   1.19
6    1.15   459                 МК4   2.66   2.66   1.21
7    1.50   475                 МК5    NaN    NaN   1.22
8    2.00   530                 AK1   3.01   3.01   1.23
9    2.50   566                 АК2   3.16   3.16   1.26
10   3.50   650                 АК3   3.23   3.23   1.31
11   7.00   900                 АК4   3.26   3.26   1.33
12  11.00  1196              Графит   3.27   3.27   1.43

In [39]:
save = df.replace({np.nan: None}).to_json(None, "split", force_ascii=False)
save

'{"columns":["Ro","Tmax","Градация катагенеза","Тип 1","Тип 2","Тип 3"],"index":[0,1,2,3,4,5,6,7,8,9,10,11,12],"data":[[0.25,401,"ПК1",1.03,1.03,1.08],[0.3,405,"ПК2",1.03,1.03,1.08],[0.4,412,"ПК3",1.03,1.03,1.08],[0.5,430,"MK1",1.22,1.22,1.09],[0.65,438,"МК2",1.43,1.43,1.1],[0.85,448,"МК3",2.32,2.32,1.19],[1.15,459,"МК4",2.66,2.66,1.21],[1.5,475,"МК5",null,null,1.22],[2.0,530,"AK1",3.01,3.01,1.23],[2.5,566,"АК2",3.16,3.16,1.26],[3.5,650,"АК3",3.23,3.23,1.31],[7.0,900,"АК4",3.26,3.26,1.33],[11.0,1196,"Графит",3.27,3.27,1.43]]}'

In [40]:
pd.read_json(
    """
    {
        "columns":["Ro","Tmax","Градация катагенеза","Тип 1","Тип 2","Тип 3"],
        "data":[
            [0.25,401,"ПК1",1.03,1.03,1.08],
            [0.3,405,"ПК2",1.03,1.03,1.08],
            [0.4,412,"ПК3",1.03,1.03,1.08],
            [0.5,430,"MK1",1.22,1.22,1.09],
            [0.65,438,"МК2",1.43,1.43,1.1],
            [0.85,448,"МК3",2.32,2.32,1.19],
            [1.15,459,"МК4",2.66,2.66,1.21],
            [1.5,475,"МК5",null,null,1.22],
            [2.0,530,"AK1",3.01,3.01,1.23],
            [2.5,566,"АК2",3.16,3.16,1.26],
            [3.5,650,"АК3",3.23,3.23,1.31],
            [7.0,900,"АК4",3.26,3.26,1.33],
            [11.0,1196,"Графит",3.27,3.27,1.43]
        ]
    }
    """,
    orient="split",
)

       Ro  Tmax Градация катагенеза  Тип 1  Тип 2  Тип 3
0    0.25   401                 ПК1   1.03   1.03   1.08
1    0.30   405                 ПК2   1.03   1.03   1.08
2    0.40   412                 ПК3   1.03   1.03   1.08
3    0.50   430                 MK1   1.22   1.22   1.09
4    0.65   438                 МК2   1.43   1.43   1.10
5    0.85   448                 МК3   2.32   2.32   1.19
6    1.15   459                 МК4   2.66   2.66   1.21
7    1.50   475                 МК5    NaN    NaN   1.22
8    2.00   530                 AK1   3.01   3.01   1.23
9    2.50   566                 АК2   3.16   3.16   1.26
10   3.50   650                 АК3   3.23   3.23   1.31
11   7.00   900                 АК4   3.26   3.26   1.33
12  11.00  1196              Графит   3.27   3.27   1.43